body{
    background-color: azure;
    font-family: Georgia, Times, serif;
    font-size: 20px;
    width: 100%;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
    padding: 0% 5%;
}
section .first{
    padding: 5%;
    text-align: center;
    color:rgb(136, 107, 214);
}

section .first .real_first{
    margin-top: 10px;
    border-radius: 100%;
    width: 20%;
    height: 250px;    
}

section .first .ft p{
    color: rgb(121, 98, 98);
}

.footer{
    background-color: aquamarine;
}

.footer a {
    text-decoration: none;
    color: white;
}

section .footer .img{
    text-align: center;
     padding-bottom: 10px;
     margin-bottom: 20px;
}

section .footer .logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: inherit;
}

section .footer p{
    text-align: center;
    color: white;
}